<div class="container-fluid home">
	<div class="row ">
		<div class="col-xs-12 ">
			<div class="row ">
				<div class="col-xs-12 box0 ">
					<img style="width:100px; height:95.5px; " src="imgs/1465654318_1280x960.jpg">
					<br> {{ homedt}}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-8 box col-xs-offset-2  "><a href="#/khalid">كلية خالد بن الوليد</a></div>
			</div>
			<div class="row">
				<div class="col-xs-8 box col-xs-offset-2 "><a href="#/khadija">كلية خديجة الكبرى</a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-8 box col-xs-offset-2 "><a href="#/omarsec">ثانوية عمر بن الخطاب</a></div>
			</div>
			<div class="row">
				<div class="col-xs-8 box col-xs-offset-2 "><a href="#/alisec">ثانوية علي بن ابي طالب</a></div>
			</div>
			<div class="row">
				<div class="col-xs-8 box  col-xs-offset-2 "><a href="#/abibaker">ابتدائية ابي بكر الصديق</a></div>
			</div>
			<div class="row">
				<div class="col-xs-8 box col-xs-offset-2  "><a href="#/aicha">ابتدائية عائشة ام المؤمنين</a></div>
			</div>
			<div class="row">
				<div class="col-xs-8 box col-xs-offset-2  "><a href="#/omarprim">ابتدائية عمر بن الخطاب</a></div>
			</div>
			<div class="row">
				<div class="col-xs-8 box col-xs-offset-2  "><a href="#/aliprim">ابتدائية علي بن ابي طالب</a></div>
			</div>
			<div class="row">
				<div class="col-xs-8 box col-xs-offset-2  "><a href="#/khalil">ابتدائية خليل شهاب</a></div>
			</div>
			<div class="row">
				<div class="col-xs-8 box col-xs-offset-2  "><a href="#/orderList">List</a></div>
			</div>
		</div>
	</div>
</div>